.container {
    width: 100%;
    height: min-content;
    background-color: var(--default-background-color);
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.12);
    border: 1px solid black;
    text-align: left;
}