:root {
    --default-background-color__dark: #551a8b;
    --default-background-color__light: #fff;
    --default-color-text__dark: #3a1c46;
    --company-color__red: #ff435f;
    --default-color-body__light: #fff;
    --default-color-text__light: #fff;
    --default-font-body: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
    --default-font-size: 10px;
}